<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WHISKY TASTE</title>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/bulma.css")">
    <link rel="shortcut icon" href="@routes.Assets.versioned("/images/favicon.ico")">
  </head>
  <body>
    <app></app>
    <script src="@routes.Assets.versioned("javascripts/bundle.js")"></script>
    <script src="//rum-static.pingdom.net/pa-5d1cb5c414cfaa0008000079.js" async></script>
  </body>
</html>
